<footer data-th-fragment="footer" class="bg-gray-800 text-white py-8 mt-8">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 Contact Manager. All rights reserved.</p>
        <p>Follow us on <a href="#" class="text-blue-400">Facebook</a>, <a href="#" class="text-blue-400">Twitter</a>,
            and <a href="#" class="text-blue-400">Instagram</a>.</p>
    </div>
</footer>


<!-- <footer data-th-fragment="footer" class="bg-gray-800 text-white py-8 mt-8">
    <div class="container mx-auto text-center">
        <p>© 2024 Contact Manager. All rights reserved.</p>
        <p>Follow us on 
            <a href="#" class="text-blue-400"><i class="fa fa-facebook"></i></a>, 
            <a href="#" class="text-blue-400"><i class="fa fa-twitter"></i></a>, 
            and 
            <a href="#" class="text-blue-400"><i class="fa fa-instagram"></i></a>.
        </p>
    </div>
</footer> -->